<div class="wBackground">
  <div class="section_padding content_width">

      <div class="section_content_image">
          <img src="assets\alexandru-stavrica-170390-800x760.jpg" alt="Delicious Bread">
      </div>

      <div class="section_content">
          <h2>Who are we?</h2>
          <p>
              We have been operating for over 30 years and are Members of The Federation of Master Builders. We work on projects big and small from small residential extensions to full house. We are so happy with this theme. Everyday it make our lives better.
          </p>
              <ul>
                  <li>We care about environment.</li>
                  <li>We are trusted by hundreds of clients.</li>
                  <li>Social media loves us!</li>
                  <li>This list is super easy to create.</li>
              </ul>
      </div>

      <div class="clr"></div>

  </div>
</div>
