<div class="gBackground">
  <div class="section_padding content_width">

      <div class="section_content">
          <h2>Contact Information</h2>
          <p>
              I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>

          <p>Our contact details:</p>
          <ul>
              <li>Manchester St 123-78B, Random 713, UK</li>
              <li>+46 123 456 789</li>
              <li>+37 431 456 789</li>
              <li>hello@sitename.com</li>
          </ul>
      </div>
      <div class="section_content_map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13816.138707023229!2d31.1990804!3d30.035863!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5315ebf6378470c0!2sRoute!5e0!3m2!1sen!2seg!4v1602865909769!5m2!1sen!2seg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="clr"></div>
  </div>
</div>
